@import "style.scss";
@import "full-width.scss";

.causes-contents {
  margin: 20px 0;
  .causes-contents-inside {
    margin: 40px auto;
    max-width: 1200px;
    @media screen and (max-width: 1212px){
      width: 95%;
    }
    .body-contents-main {
      width: 70%;
      float: left;
      @media screen and (max-width: 990px){
        width: 100%;
        float: none;
      }
      .causes-content-body {
        padding: 20px;
        .causes-content-image {
          padding:0;
          margin:0;
          position: relative;
          img {
            width: 100%;
          }
          .image-urgent-banner {
            position: absolute;
            top: 15px;
            right: 15px;
            background: #fff;
            color: $basicTextcolor;
            padding: 0;
            width: 80px;
            text-align: center;
            p {
              font-size: 0.75em;
              font-weight: 600;
              text-transform: uppercase;
              margin: 0;
              padding: 5px 0;
            }
          }
        }
        .causes-content-desc {
          margin: 0;
          background-color: $verylightgrey;
          padding: 30px;
          .content-desc-title {
            margin-bottom: 20px;
            .title-headline  {
              text-transform: uppercase;
              font-size: 1em;
              font-weight: 800;
              margin-right: 10px;
            }
            .emphasis {
              padding: 2px 3px;
              font-weight: 600;
              font-size: 0.75em;
              text-transform: capitalize;
              color: #fff;
              background: $basicTextcolor;
              display: inline-block;
            }

          }
          .contents-desc-detail {
            p {
              font-size: 0.9em;
              color: $darkgrey;
              letter-spacing: 1px
            }
          }
          .contents-desc-bar {
            .percentage {
              margin: 10px 5px;
              position: relative;
              span::after {
                display:block;
                left: 0;
                border-width: 8px 8px 0 0;
                content: '';
                position: absolute;
                top: 100%;
                margin-left: 0;
                border-style: solid;
                border-color: $orange rgba(0,0,0,0);
              }
              span {
                padding: 5px 10px;
                background: $orange;
                color: #fff;
                font-size: 0.75em;
                font-weight: 600;
                letter-spacing: 1px;
              }
            }
            .second-perc {
              margin-left: 18%;
            }
            .progress {
                .progress-bar {
                  height: 3px;
                  background-color: $basicTextcolor;
                }
            }
          }
          .contents-desc-info {
            padding: 20px 0 0;
            span {
              font-size: 0.95em;
              i { margin-right: 10px;}
            }
            .don-amount {
              float: right;
              letter-spacing: 1px;
              @media screen and (max-width: 768px) {
                float: none;
              }
            }
            .donate-btn {
              margin-top: 20px;
              .donate-btn-body {
                width: 150px;
                border: $orangethinkborder;
                text-align: center;
                padding: 8px 20px;
                color: $orange;
                p {
                  text-transform: uppercase;
                  font-size: 0.9em;
                  font-weight: 600;
                  margin: 0;
                }
              }
              .donate-btn-body:hover {
                background: $orange;
                color: #fff;
                -webkit-transition: background 1s, color 1s;
                transition: background 1s, color 1s;
              }
            }
          }
        }
      }
      .pagination {
        padding: 15px;
        .page-btn {
          border-top: $headerBoarder;
          width: 100%;
          .btn-position {
            text-align: center;

            ul {
              padding: 60px 0;
              margin: 0;
              li {
                display: inline;
                list-style-type: none;
                div {
                  width: 40px;
                  height: 40px;
                  border: 1px solid $basicTextcolor;
                  text-align: center;
                  margin: 5px;
                  display: inline-block;
                  padding: 7px;
                  span {
                    font-weight: 800;
                  }
                }
                .page-active, div:hover {
                  background: $orange;
                  color: #fff;
                  border: $orangeborder;
                  -webkit-transition: background 0.5s, color 0.5s;
                  transition: background 0.5s, color 0.5s;
                }
              }
            }

          }
        }
      }
    }
    .body-content-side {
      width: 30%;
      float: right;

      @media screen and (max-width: 990px){
        width: 100%;
        float: none;
      }
      .side-content-box {
        margin-left: 20px;
        border-left: $headerBoarder;
        padding: 20px 40px;
        .side-content-title{
          margin-bottom: 20px;
          h3 {
            font-size: 1em;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          h3::after {
            display: block;
            content: '';
            width: 40px;
            height: 1px;
            background-color: $orange;
            margin-top: 20px;
          }
        }
        .category-body {
          ul{
            padding : 0;
            margin-top: 30px;
            li {
              list-style-type: none;
              font-size: 0.9em;
              font-weight: 600;
              color: $darkgrey;
              text-transform: uppercase;
              margin: 20px 0 ;
              padding: 0;
            }
            li:hover {
              color: $orange;
            }
          }
        }
        .projects-body {
          margin-bottom: 40px;
          .project-carousel-box {
            padding: 10px 0;
            position: relative;
            .project-box-desc {
              padding: 20px 0;
              border-bottom: $headerBoarder;
              h3 {
                font-size: 0.85em;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 20px;
              }
              p {
                font-size: 0.8em;
                color: $darkgrey;
                letter-spacing: 0.7px;
                line-height: 1.8;
                margin: 0;
              }
            }
          }
          ol {
            position: absolute;
            top: 410px;
            left: -210px;
            li {
              width: 12px;
              height: 12px;
              background: $lightgrey;
            }
            .active {
              background: $orange;
            }
          }
        }
        .text-widget-box {
          p {
            font-size: 0.8em;
            color: $darkgrey;
            letter-spacing: 0.7px;
            line-height: 1.8;

          }
        }
      }
    }
  }
}


