@import "style.scss";
@import "full-width.scss";

$facebookblue: #3a559f;

.event-body{
  margin: 20px 0;
  .event-box{
    margin: 40px auto;
    max-width: 1200px;
    @media screen and (max-width: 1212px){
      width: 95%;
    }
    .event-thumbnail {
      padding: 40px 10px;

      .event-thumb-image {
        margin-bottom: 20px;
          img {
            width: 100%;
          }
      }
      .event-thumb-desc {
        h3 {
          font-size: 0.9em;
          font-weight: 800;
          text-transform: uppercase;
          margin-bottom: 30px;
          cursor: pointer;
        }
        h3:hover {
          color: $orange;
        }
        span {
          margin-right: 10px;
          padding: 5px 0;
          font-size: 0.8em;
          display: block;
          @media screen and (max-width: 768px) {
            display: inline-block;
          }
        }
        p {
          margin: 30px 0;
          color: $darkgrey;
          font-size: 0.9em;
          letter-spacing: 0.5px;
        }
        .events-more-btn {
          .events-more {
            border: $orangethinkborder;
            text-transform: uppercase;
            padding: 10px;
            text-align: center;
            p {
              margin: 0;
              color: $orange;
              font-weight: 800;
              font-size: 0.8em;
              letter-spacing: 0.5px;
            }
          }
          .events-more:hover {
            background: $orange;
            p { color: #fff; }
            -webkit-transition: background 0.5s, color 0.5s;
            transition: background 0.5s, color 0.5s;
          }
          .events-fb {
            background: $facebookblue;
            color: #fff;
            text-align: center;
            border: 2px solid $facebookblue;
            span {
              padding: 7px 16px;
              margin: auto;
              font-size: 1.1em;
            }
          }
          .events-fb:hover {
            background: #fff;
            color: $facebookblue;
            -webkit-transition: background 0.5s, color 0.5s;
            transition: background 0.5s, color 0.5s;
          }
        }
      }
    }
  }
}