@import 'style.scss';

$beige : #dfd5cc;
$verylightgrey: #f3f3f3;
$highlight: #fcfca8;

.detailpage-upperside {
  background: $beige;
  color: #fff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  .upperside-box {
    margin: 20px auto;
    max-width: 1200px;
    @media screen and (max-width: 1212px){
      width: 95%;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.6em;
      letter-spacing: 1.5px;
    }
    .box-inside-detail {
      width: 220px;
      padding: 10px;
      text-align: center;
      background: #fff;
      span {
        padding: 0 5px;
        font-weight: 600;
        font-size: 0.75em;
        text-transform: uppercase;
        color: $basicTextcolor;
        letter-spacing: 0.5px;
      }
      .orange { color: $orange; }
      .lightgrey { color: $lightgrey; }
    }
  }
}

.full-width-lowerside {
  padding: 40px 0;
  width: 100%;
  .full-width-lowerside-box {
    max-width: 1200px;
    @media screen and (max-width: 1212px){
      width: 95%;
    }
    margin: 40px auto;
    h3 {
      font-size: 1.1em;
      color: $basicTextcolor;
      margin-bottom: 30px;
      line-height: 1.8;
      letter-spacing: 0.5px;
    }
    p {
      font-size: 0.9em;
      color: $darkgrey;
      letter-spacing: 0.5px;
      line-height: 1.8;
      margin-bottom: 25px;
      .highlight {
        background: $highlight;
        padding: 5px;
      }
    }

    .inner-box-with-border {
      border: $headerBoarder;
      border-left: 3px solid $orange;
      padding: 30px;
      p {
        margin: 0;
        font-style: oblique;
        font-size: 1em;
        color: $darkgrey;
      }
    }
    .inner-box-width-color {
      background: $verylightgrey;
      margin-top: 50px;
      h3 {
        color: $basicTextcolor;
        font-size: 1.8em;
        padding: 40px;
      }
    }
  }
}