$headerBgcolor : #fbfbfb;
$basicTextcolor: #000;
$lightgrey: #a6a6a9;
$darkgrey: #5b5965;
$verydarkgrey: #27262c;
$bluegrey: #7573a7;
$lightorange: #fc8f30;
$orange: #fa6f1c;
$brown: #963e09;
$iconcolor: #7b7983;
$headerBoarder: 1px solid #edebf5;
$lightOrangeBorder: 1px solid #fc8f30;
$orangeborder: 1px solid #fa6f1c;
$orangethinkborder: 2px solid #fa6f1c;

* { font-family: 'Lato', sans-serif; box-sizing: border-box; }
a, a:hover { text-decoration: none; }
.row {padding:0; margin: 0; }
//header css start
.upper-header {
    background: $headerBgcolor;
    color: $basicTextcolor;
    border-bottom: $headerBoarder;
    .header-inner {
      margin: auto;
      width: 1200px;
      @media screen and (max-width: 1200px) {
        width: 100%;
      }
      .header-tel {
        padding: 5px;
        div {
          padding-right: 5px;
          .ion-ios-telephone {
              font-size: 17pt;
              color: $darkgrey;

          }
          p {
            font-size: 12pt;
            margin: 5px 0 0;
            font-weight: 700;
          }
        }
      }
      .header-sns {
        div {
          width: 50px;
          border-left: $headerBoarder;
          display: inline-block;
          text-align: center;
          height: 100%;
          padding-top: 7px;
          color: $iconcolor;
          i {
            vertical-align: middle;
          }
        }
      }
      .header-donate{
        background: $orange;
        padding: 10px 20px;
        text-align: center;
        p {
          margin: 0;
          color: #fff;
          font-size: 11pt;
          font-weight: 700;
        }
      }
    }
  }

.lower-header {
  padding: 25px 0;
  .header-inner {
    margin: auto;
    width: 1200px;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    .logo {
      a, a:hover { color: $basicTextcolor; }
      img {
        margin-right: 10px;
        width: 35%;
      }
      span {
        border-left: $headerBoarder;
        padding-left: 10px;
      }
    }
    .navi {
        ul {
          margin-top: 5px;
          li {
            display: inline;
            padding: 10px;
            font-size: 10pt;
            font-weight: 600;
            text-transform: uppercase;
            a, a:hover {
              color: $basicTextcolor;
            }
          }
        }
    }
  }
}
//header css end
//body css start

//full-slide part start
  .full-slide{
    .carousel {
      .carousel-inner {
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          display: block;
          margin-top: -60px;
        }
        .first-slide-content {
          z-index: 1;
          position: absolute;
          top: 35%;
          background-color: $orange;
          color: #fff;
          height: 300px;
          margin-left: 5vw ;
          padding: 30px;
          h3 {
            text-transform: uppercase;
            line-height: 1.4;
            font-size: 1.6em;
            font-weight: 600;
            letter-spacing: 3px;
            margin-top: 10px;
            margin-right: 20px;
            padding-bottom: 5px;
          }
          hr {
            border-top: $lightOrangeBorder;
            width: 40px;
          }
          p {
            clear:both;
            text-transform: uppercase;
          }
          .slide-button {
            .button {
              border: 2px solid #fff;
              text-align: center;
              p {
                margin: 0;
                padding: 8px;
                font-size: 10pt;
              }
            }
          }
        }
        .second-slide-content {
          z-index: 1;
          position: absolute;
          top: 63%;
          @media screen and (max-width: 960px) {
            top: 33%;
          }
          background-color: $orange;
          color: #fff;
          width: 100%;
          height: 195px;
          text-transform: uppercase;
          padding-right: 8vw;
          @media screen and (max-width: 990px) {
            padding-right: 0;
          }
          .row {
            .second-slide-title {
              padding: 2vw 8vw;
              h3 {
                text-transform: uppercase;
                line-height: 1.3;
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 2px;
                margin-top: 10px;
                margin-right: 20px;
                padding-bottom: 10px;
              }
              p {
                font-weight: 400;
                font-size: 0.8em;
                letter-spacing: 1px;
                line-height: 1.8;
              }
            }
            .second-slide-button {
              background: $lightorange;
              text-align: center;
              height: 100%;
              width: 100%;
              max-height: 195px;
              padding: 0;
              .button-lid {
                position: absolute;
                top: -20px;
                //left: 37%;
                z-index: 1;
                width: 100%;
                div {
                  background: #fff;
                  padding: 10px;
                  margin: 0 auto;
                  width: 140px;
                  p {
                    margin: 0;
                    letter-spacing: 1px;
                    color: $basicTextcolor;
                    font-size: 9pt;
                    font-weight: 600;

                  }
                }
              }
              .upper-button {
                .right-border {
                  border-right: $orangeborder;
                }
                div {
                  padding: 30px;
                  p {
                    color: $brown;
                    font-weight: 500;
                    margin-bottom: 5px;
                  }
                  h3 {
                    font-weight: 700;
                  }
                }

              }
              .lower-button {
                border-top: $orangeborder;
                padding: 20px;
                p {
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
    .carousel-control-prev, .carousel-control-next {
      width: 5%;
    }
    }
  }
//full slide part end

//featured news part start
.featured-news {
  .container {
    padding: 0;
    .featured-news-title {
      margin-top: 60px;
      margin-bottom: 20px;
      h3 {
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0;
      }
      hr {
        border-top: $lightOrangeBorder;
        width: 40px;
      }
    }
    .featured-news-body {
      margin-bottom: 40px;
      .news-first-image {
        padding: 0;
        margin: 0;
        img {
          width: 100%;
          max-width: 700px;
        }
      }
      .news-first-desc {
        .news-first-title {
          padding-left: 25px;
          text-transform: uppercase;
          font-size: 11pt;
          font-weight: 600;
          letter-spacing: 2px;
          color: $basicTextcolor;
          text-align: left;
        }
        .news-first-category {
          padding-left: 35px;

          div {
            padding: 0;
            color: $darkgrey;
            i { padding: 5px; }
            span {
              font-size: 9.5pt;
              letter-spacing: 1px;
            }
          }
        }
        .news-first-detail {
          padding-top: 20px;
          padding-left: 25px;
          p {
            margin: 0;
            font-size: 10.2pt;
            text-align: justify;
          }
          .read-more {
            margin-top: 25px;
            .read-more-button {
              border : 2px solid $orange;
              border-radius: 0;
              color: $orange;
              p {
                font-size: 10pt;
                font-weight: 600;
                margin: 0;
                padding: 5px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .upper-arrow {
        border: 1px solid $darkgrey;
        position: absolute;
        top: -60px;
        right: 0;
        width: 80px;
        height: 40px;
        a {
          padding-top: 6px;
          color: $basicTextcolor;
          text-align: center;
          font-size: 12pt;
        }
        .right-border {
          border-right: 1px solid $darkgrey;
        }
      }

    }
    .latest-news {
      border-top: $headerBoarder;
      .latest-news-title {
        top: -12px;
        position: relative;
        margin-bottom: 20px;
        span {
          background-color: #fff;
          text-transform: uppercase;
          font-size: 12pt;
          font-weight: 800;
          text-align: left;
          padding: 10px;
        }
      }
      .latest-news-body {
        padding: 0 10px;
        .news-body-thumb { padding: 10px 0; }
        .row { padding: 0; margin: 0; }
        .col-3 { padding: 0; margin: 0; }
        .latest-thumbnail {
          padding: 0;
        }
        .latest-desc {
          padding: 0 10px;
            h4 {
              margin-top: 8px;
              font-size: 11pt;
              text-transform: uppercase;
              font-weight: 600;
              letter-spacing: 1px;
            }
          span {
            padding-right : 10px;
            color: $darkgrey;
            font-size: 10.5pt;
          }
        }
      }
    }
  }
}

//featured news part end

//featured causes part start
.featured-causes {
  padding-top: 50px;
  padding-bottom: 50px;
  //width: 1200px;
  @media screen and (max-width: 1200px) {  width: 900px;  }
  @media screen and (max-width: 990px) { width: 600px; }
  margin: auto;
  .featured-causes-title{
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      font-size: 0.9em;
      color: $bluegrey;
    }
  }
  .featured-causes-body {
    box-sizing: border-box;
    text-align: center;
    .featured-causes-thumb {
      margin: 0;
      padding: 0;
      display: inline-block;
      div { padding: 0; }
      .each-thumb {
        box-sizing: border-box;
        text-align: left;
        width: 300px;
        display: inline-block;
        margin-bottom: 30px;
        //padding: 10px;
        .cause-thumbnail {
          position: relative;
          img {
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
          }
          .causes-urgent-tag {
            width: 80px;
            position: absolute;
            top: 10px;
            right: 25px;
            background: #fff;
            color: $basicTextcolor;
            text-align: center;
            padding: 7px 10px;
            p {
              font-size: 0.7em;
              font-weight: 600;
              text-transform: uppercase;
              margin: 0;
            }
          }
          .cause-body {
            box-sizing: border-box;
            max-height: 180px;
            padding: 5px;
            .cause-title {
              font-size: 1em;
              letter-spacing: 1px;
              font-weight: 600;
              text-transform: uppercase;
              padding: 15px 10px;
            }
            .cause-text {
              padding: 10px;
              text-align: justify;
              font-size: 0.85em;
              color: $darkgrey;
              letter-spacing: 0.5px;
            }
          }
          .cause-foot {
            padding: 30px 10px;
            .progress {
              .progress-bar {
                height: 2px;
                background-color: $basicTextcolor;
              }
            }
            .don-counter {
              font-size: 0.9em;
              letter-spacing: 1px;
              padding: 10px 0;
              margin: 0;
              span {
                color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .featured-causes-nav {
    a {
      position: inherit;
      text-align: center;
      display: inline-block;
      .move-btn {
        display: block;
        background-color: $bluegrey;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
}
//featured causes part start

//about us start

.about-us{
  margin-bottom: 40px;
  div {padding: 0;}
  .about-us-body{
    .about-us-image{
      #aboutUsSlide {
        .carousel-item{
          overflow: hidden;
          @media screen and (max-width: 990px) { height: 350px;}
          img {
            object-fit: cover;
            min-height: 520px;
          }
        }
      }
    }
    .about-us-text{
      height: auto;
      max-height: 520px;
      background: $verydarkgrey;
      color: $lightgrey;
      .about-us-text-box {
        margin: 5vw;
        .about-us-title {
          padding-top: 30px;
          text-transform: uppercase;
          font-weight: 700;
          color: #fff;
          h4 {
            font-size: 0.9em;
          }
          h3 {
            padding-top: 10px;
            font-size: 1.5em;
          }
          hr {
            border-top: $orangeborder;
            width: 40px;
          }
        }
        .about-us-desc {
          padding-top: 20px;
          h4 {
            font-size: 1em;
            padding-bottom: 10px;
          }
          p {
            font-size: 0.9em;
          }
          .about-us-link{
            padding-top: 20px;
            text-transform: uppercase;
            p {
              margin: 0;
              color: #fff;
              font-size: 0.7em;
              font-weight: 600;
            }
            h3 {
              margin: 0;
              font-size: 0.95em;
              padding-top: 5px;
              color: $orange;
            }
            .learn-more {
              div {
                border: 2px solid $orange;
                padding: 10px;
                p {
                  color: $orange;
                  font-size: 0.8em;
                  text-align: center;
                  padding: 0;
                }
              }

            }
            .about-us-or{
              padding-top: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

//about us end

//our staff start

.our-staff {
  .our-staff-outline {
    margin: 60px auto 20px;
    width: 95%;
    @media screen and (min-width: 1212px){
      max-width: 1200px;
    }
    .row { margin: 0; padding: 0; }
    .our-staff-title {
      margin-top: 60px;
      margin-bottom: 20px;
      h3 {
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0;
      }
      hr {
        border-top: $lightOrangeBorder;
        width: 40px;
      }
    }
    .our-staff-body {
      .our-staff-outbox {
        width: 100%;
        .our-staff-inbox {
          padding: 0;
          .row{ padding: 0; margin: 0; }
          @media screen and (max-width: 1245px){
            margin: auto;
          }
          .our-staff-image{
            display: inline-block;
            overflow: hidden;
            padding: 0;
            width: 100%;
            @media screen and (min-width: 768px){
              max-width: 292px;
            }
            img {
              object-fit: cover;
              height: auto;
              @media screen and (max-width: 768px){
                width: 100%;
              }
            }
          }
          .our-staff-desc {
            display: inline-block;
            padding: 0;
            border: $headerBoarder;
            @media screen and (min-width: 1245px){
              max-width: 292px;
            }
            @media screen and (max-width : 990px){
              width: auto;
            }
            @media screen and (max-width: 768px) {
              width: 100%;
            }
            max-height: 248px;
            overflow-clip: hidden;
            .our-staff-desc-inside {
              padding: 20px;
              text-align: center;
              h4 {
                margin-top: 20px;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 600;
              }
              h5 {
                font-size: 0.85em;
                font-weight: 500;
                text-transform: capitalize;
                margin-top: 15px;
                color: $lightgrey;
              }
              p {
                font-size: 0.8em;
                letter-spacing: 1px;
                line-height: 1.8;
                margin: 0;
                padding: 10px;
                color: $lightgrey;
              }
              .our-staff-desc-icons {
                font-size: 1.1em;
                hr {
                  border-top: $orangeborder;
                  margin-bottom: 0;
                  width: 40px;
                }
                i {
                  padding: 5px;
                }
              }
            }
          }
          .our-staff-desc:hover {
            background: $orange;
            color: #fff;
            h4, h5, p {
              color: #fff;
            }
          }
        }
      }
    }
    .upper-arrow {
      border: 1px solid $darkgrey;
      position: absolute;
      top: -60px;
      right: 0;
      width: 80px;
      height: 40px;
      a {
        padding-top: 6px;
        color: $basicTextcolor;
        text-align: center;
        font-size: 12pt;
      }
      .right-border {
        border-right: 1px solid $darkgrey;
      }
    }
  }
}

//our staff end

//testimonials start

.testimonials {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  .testimonials-title {
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    .testimonials-headline {
      h2 {
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
    .testimonials-icon{
      position: relative;
      hr {
        border-top: $orangeborder;
        width: 110px;
      }
      .center-icon {
        position: absolute;
        top: -10px;
        left: 49.2%;
        color: $orange;
        padding: 0 4px;
        background: #fff;
      }
      .testimonials-subline {
        color: $basicTextcolor;
      }
    }
  }
  .testimonials-body {
    position: relative;
    .triangle {
      z-index: 1;
      position: absolute;
      width: 12px;
      height: 12px;
      padding:0;
      margin: 0;
      background: #fff;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Safari */
      transform: rotate(45deg);
      top: -6px;
      left: 50%;
    }
    ol li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    .testimonial-carousel-inside {
      padding: 40px;
      background: $orange;
      color: #fff;
      text-align: center;
      .testimonial-inside-box {
        padding: 20px;
        .inside-upper-text {
          margin-bottom: 40px;
          p {
            font-size: 1.4em;
            font-style: oblique;
          }
        }
        hr {
          border-top: $lightOrangeBorder;
          width: 120px;
          margin: 0 auto;
        }
        .inside-lower-text {
          text-transform: uppercase;
          font-size: 0.9em;
        }
      }
    }
  }
}
//testimonials end

//upcoming events start
.upcoming-events {
  margin: 60px auto 20px;
  width: 95%;
  @media screen and (min-width: 1212px){
    max-width: 1200px;
  }
  .row { margin: 0; padding: 0; }
  .upcoming-events-box {
    .upcoming-events-title {
      position: relative;
      padding: 0 20px;
      margin-top: 60px;
      margin-bottom: 20px;
      text-transform: uppercase;
      h3 {
        font-size: 1.3em;
        font-weight: 700;
        margin: 0;
      }
      hr {
        border-top: $lightOrangeBorder;
        width: 40px;
      }
      .upcoming-events-link {
        position: absolute;
        top: -10px;
        right : 20px;
        @media screen and (max-width: 768px) {
          position: static;
          margin-top: 10px;
          //left: 0;
        }
        .view-all {
          color: $orange;
          text-align: center;
          p {
            border: 2px solid $orange;
            padding: 10px;
            width: 100px;
            font-size: 0.9em;
            font-weight: 600;
          }
        }
      }
    }
    .upcoming-events-body {
      .events-image {
        img {
          width: 100%;
        }
      }
      .events-desc {
        padding: 30px 5px;
        .events-desc-inside{
          h4 {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 20px;
          }
          .events-icons {
            margin-bottom: 30px;
            span {
              font-size: 0.9em;
              padding-right: 40px;
            }
          }
          p {
            color: $darkgrey;
            font-size: 0.8em;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}

//upcoming events end

//footer start
.footer-inside {
  width: 100%;
  background: $basicTextcolor;
  .footer-upper {
    margin: 40px auto 20px;
    padding: 20px 0;
    color: #fff;
    width: 95%;
    @media screen and (min-width: 1212px) {
      max-width: 1200px;
    }
    .row {
      margin: 0;
      padding: 0;
    }
    .footer-upper-headline {
      padding-top: 40px;
      h3 {
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;
        @media screen and (max-width: 1200px){
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
    .footer-upper-link {
      padding-top: 40px;
      .link-body {
        text-transform: uppercase;
        float: right;
        @media screen and (max-width: 1200px){
          float: none;
          padding-bottom: 40px;
        }
        text-align: center;
        .link-button {
          display: inline-block;
          border: $orangethinkborder;
          color: $orange;
          padding: 10px;
          z-index: 10;
          p {
            margin: 0;
            font-size: 0.9em;
            font-weight: 600;
          }
        }
        .link-bridge {
          padding: 0;
          display: inline-block;
          color: #fff;
          div {
            display: inline-block;
            span {
              margin: 0;
              padding: 10px;
              font-size: 0.8em;
              background: $darkgrey;
              border-radius: 50%;
            }
          }
          div::before, div::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-color: $darkgrey;
            width: 30px;
            height: 1px;
            padding:0;
            margin: 0;
          }
        }
      }
    }
  }
  .footer-lower {
    background: $verydarkgrey url('../images/footer-bg.png');
    padding: 80px 0;
    width: 100%;

    .footer-lower-inside {
      width : 95%;
      margin: 0 auto;
      @media screen and (min-width: 1212px) {
        max-width: 1200px;
      }
      .row {
        margin: 0;
        padding: 0;
      }
      .footer-small-title {
        padding: 10px;
        h3 {
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        .small-title::after {
          background-color: $orange;
          display: block;
          width: 40px;
          height: 1px;
          content: '';
          padding: 0;
          vertical-align: middle;
          margin-top : 25px;
        }
      }
      .footer-small-desc {
        padding: 30px 5px;
        p {
          color: $lightgrey;
          font-size: 0.8em;
          line-height: 1.7;
          letter-spacing: 0.5px;
          span {
            font-size: 1em;
          }
        }
        .link-list {
          padding: 0;
          ul {
            padding: 5px;
            li {
              padding: 8px 0;
              list-style-type: none;
              color: $darkgrey;
              font-size: 0.8em;
              text-transform: uppercase;
              cursor: pointer;
            }
            li:hover {
              color: $orange;
            }
          }
        }
        .subscribe {
          .input-email {
            font-size: 0.8em;
            height: 40px;
            width: 80%;
            margin: 0;
            padding: 10px;
            border: none;
          }
          .submit {
            display: inline-block;
            background: $orange;
            color: #fff;
            border: none;
            height: 40px;
            width: 20%;
            margin: 0;
            float: right;
          }
        }
      }
    }
  }
  .footer-underbar {
    width: 100%;
    color: $lightgrey;
    @media screen and (max-width: 990px) {
      text-align: center;
    }
    .copyright {
      padding: 0;
      color: $lightgrey;
      font-size: 0.9em;
      p {
        padding: 20px;
        margin: 0;
        span {
          color: #fff;
        }
        span:hover {
          color: $lightgrey;
          cursor: pointer;
        }
      }
    }
    .footer-icons {
      padding: 0;
      margin: 0;
      .icon-box {
        float: right;
        @media screen and (max-width: 990px) {
          float: none;
        }
        ul {
          padding: 20px;
          margin: 0;
          @media screen and (max-width: 990px) {
            padding: 10px;
          }
          li {
            display: inline;
            list-style-type: none;
            float: left;
            padding: 0 10px;
            @media screen and (max-width: 990px) {
              float: none;
            }
          }
        }
      }

    }
  }
}